<p id="notice"><%= notice %></p>

<table class="table">
  <thead>
    <tr>

      <th scope="col">Employee Id</th>
      <th scope="col">Employee Name</th>
      <th scope="col">Mobile No</th>
      <th scope="col">View</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>


  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.emp_id %></td>
        <td><%= employee.emp_name %></td>
        <td><%= employee.mobile_no %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>
